@mixin icon-container {
    width: 150px;
    height: 150px;
    overflow: hidden;
    border: 1px solid transparent;
    border-radius: 100%;
    margin: 10px auto;
    background-color: white;
}

@mixin icon {
    width: 100px;
    height: 100px;
    padding: 25px;
    margin: auto;
    display: block;
}