.skills {
    img {
        @include icon;
    }
}

.stack-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 15px;
}

.skills-container {
    text-align: center;
}

.skills-image-container {
    @include icon-container;
}